{% extends 'KudelaCorp/AppBase.html' %}

{% block title %}Golf Home{% endblock %}

{% block style %}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  background: #1f9ca6!important;
}

.bg-dark {
  background-color: #1f9ca6!important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: black!important;
}
{% endblock %}


<!-- Navigation-->
{% block navbar-brand-link %}{% url 'Golf_Home' %}{% endblock %}
{% block navbar-brand-title %}Golf{% endblock %}

{% block navbar-link-one %}{% url 'Golf_Home' %}{% endblock %}
{% block navbar-link-one-icon %}fa fa-fw fa-dashboard{% endblock %}
{% block navbar-link-one-label %}Dashboard{% endblock %}

{% block navbar-link-two %}{% url 'Golf_Manage' %}{% endblock %}
{% block navbar-link-two-icon %}fa fa-fw fa-edit{% endblock %}
{% block navbar-link-two-label %}Manage{% endblock %}

{% block navbar-link-three %}{% url 'Golf_Rounds9' %}{% endblock %}
{% block navbar-link-three-icon %}fa fa-fw fa-area-chart{% endblock %}
{% block navbar-link-three-label %}9-Hole Rounds{% endblock %}

{% block navbar-link-four %}{% url 'Golf_Rounds18' %}{% endblock %}
{% block navbar-link-four-icon %}fa fa-fw fa-area-chart{% endblock %}
{% block navbar-link-four-label %}18-Hole Rounds{% endblock %}


<!-- /.container-fluid-->
{% block content %}
<h1>TEST</h1>
{% endblock %}
<!-- /.content-wrapper-->
