{% extends 'Golf/GolfBase.html' %}

{% block title %}Golf - Manage Rounds{% endblock %}

{% block content %}

<h1>{% block pagecontent %}Golf - Manage Rounds{% endblock %}</h1>
<br>
<h3>Manage Stats</h3>
  <br>
    <div class="menu-select">
        <a href="{% url 'Golf_NewRound' %}" class="top-menu">
        <span><b> Add Round</b></span></a>
    </div>
    <div class="menu-select">
        <a href="{% url 'Golf_NewCourse' %}" class="top-menu">
        <span><b> Add Course</b></span></a>
    </div>

{% endblock %}
