<!DOCTYPE html>
<html lang="en">
<head>
    <title>Photo Gallery</title>

    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="index.html" rel="home">KP</a></h1>
    </div><!-- .site-branding -->

    <div class="hamburger-menu">
        <div class="menu-icon">
            <img src="{% static 'images/menu-icon.png' %}" alt="menu icon">
        </div><!-- .menu-icon -->

        <div class="menu-close-icon">
            <img src="{% static 'images/x.png' %}" alt="menu close icon">
        </div><!-- .menu-close-icon -->
    </div><!-- .hamburger-menu -->
</header><!-- .site-header -->

<nav class="site-navigation flex flex-column justify-content-between">
    <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="KudelaCorp/Home.html" rel="home"><img src="{% static 'images/KudelaCorpLogo.png' %}" alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <ul class="main-menu flex flex-column justify-content-center">
        <li class="current-menu-item"><a href="/">Home</a></li>
        <li><a class="nav-link" href="/Reports/">Reports</a></li>
        <li><a class="nav-link" href="/Golf/">Golf</a></li>
        <li><a class="nav-link" href="/Finance/">Finances</a></li>
        <li><a class="nav-link" href="/Options/">Options</a></li>
    </ul>



</nav><!-- .site-navigation -->

<div class="nav-bar-sep d-lg-none"></div>

<div class="outer-container home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static '/images/hunter.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#A355Z2WMuMZJJ" target="_blank">Hunter's Photos</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#A355Z2WMuMZJJ" target="_blank"><p>Hunter Thomas Kudela<br>Born: April 21, 2015</p></a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static '/images/boys.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0h5yeZFhW46XQ" target="_blank">The Boys</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0h5yeZFhW46XQ" target="_blank"><p>Time Difference in Age:<br>1 Year, 2 Months, 7 Days<br>Or 434 Days</p></a></li><br><br>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/tyler.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0gGQOeMmGLhCkc" target="_blank">Tyler's Photos</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0gGQOeMmGLhCkc" target="_blank"><p>Tyler Joseph Kudela<br>Born: June 28, 2016</p></a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/Vacation2019.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0hJEsNWnJs8ckY" target="_blank">Vacation 2019</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0hJEsNWnJs8ckY" target="_blank"><p>Pigeon Forge, Tennessee<br>September 7, 2019 to September 14, 2019</p></a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/Christmas2018.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0hGWZuqDuml7E8" target="_blank">Christmas 2018</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0hGWZuqDuml7E8" target="_blank"><p>December 2018</p></a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/Vacation2018.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0hGgZLKuGzWFXN" target="_blank">Vacation 2018</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0hGgZLKuGzWFXN" target="_blank"><p>Topsail Island, North Carolina<br>August 17, 2018 to August 25, 2018</p></a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/Vacation2017.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0gJu8EH6JKPPIi" target="_blank">Vacation 2017</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0gJu8EH6JKPPIi" target="_blank"><p>Cape Coral, Florida<br>September 2, 2017 to September 8, 2017</p></a></li><br><br>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{%static 'images/Halloween2017.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0g5BydzFWV5MF" target="_blank">Halloween 2017</a></h3>
                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0g5BydzFWV5MF" target="_blank"><p>Mario, Luigi, Princess Peach and Toad<br>October 31, 2017</p></a></li><br>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{% static 'images/Christmas2017.jpg' %}" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="https://www.icloud.com/sharedalbum/#B0gG4VTwGGSmQQp" target="_blank">Christmas 2017</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="https://www.icloud.com/sharedalbum/#B0gG4VTwGGSmQQp" target="_blank">December 2017</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/8.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/9.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/10.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/11.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/12.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .outer-container -->

<!--
 <div class="scroll-down flex flex-column justify-content-center align-items-center d-none d-lg-block">
    <span class="arrow-down flex justify-content-center align-items-center"><img src="{% static 'images/arrow-down.png' %}" alt="arrow"></span>
    <span class="scroll-text">Scroll Down</span>
</div>
-->

<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>

</body>
</html>
