{% extends 'KudelaCorp/AppBase.html' %}

{% block title %}Options Home{% endblock %}

{% block style %}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  background: #6f2403!important;
}

.bg-dark {
  background-color: #6f2403!important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: black!important;
}
{% endblock %}


<!-- Navigation-->
{% block navbar-brand-link %}{% url 'Options_Home' %}{% endblock %}
{% block navbar-brand-title %}Options{% endblock %}

<!-- Side Menu -->
{% block navbar-link-one %}{% url 'Options_Home' %}{% endblock %}
{% block navbar-link-one-icon %}fa fa-fw fa-dashboard{% endblock %}
{% block navbar-link-one-label %}Dashboard{% endblock %}

{% block navbar-link-two %}{% url 'Options_Manage' %}{% endblock %}
{% block navbar-link-two-icon %}fa fa-fw fa-edit{% endblock %}
{% block navbar-link-two-label %}Manage{% endblock %}

{% block navbar-link-three %}{% url 'Finance_Analysis' %}{% endblock %}
{% block navbar-link-three-icon %}fa fa-fw fa-pie-chart{% endblock %}
{% block navbar-link-three-label %}Analysis{% endblock %}

{% block navbar-link-four %}{% url 'Finance_Reports' %}{% endblock %}
{% block navbar-link-four-icon %}fa fa-fw fa-file-pdf-o{% endblock %}
{% block navbar-link-four-label %}Quarterly Reports{% endblock %}

{% block navbar-link-five %}{% url 'Finance_Balance' %}{% endblock %}
{% block navbar-link-five-icon %}fa fa-fw fa-bar-chart{% endblock %}
{% block navbar-link-five-label %}Balance Sheet{% endblock %}

{% block navbar-link-six %}{% endblock %}
{% block navbar-link-six-icon %}{% endblock %}
{% block navbar-link-six-label %}{% endblock %}

{% block navbar-link-seven %}{% endblock %}
{% block navbar-link-seven-icon %}{% endblock %}
{% block navbar-link-seven-label %}{% endblock %}

{% block navbar-link-eight %}{% endblock %}
{% block navbar-link-eight-icon %}{% endblock %}
{% block navbar-link-eight-label %}{% endblock %}

{% block navbar-link-nine %}{% endblock %}
{% block navbar-link-nine-icon %}{% endblock %}
{% block navbar-link-nine-label %}{% endblock %}


<!-- /.container-fluid-->
{% block content %}
<h1>{% block pagecontent %}Finance Base{% endblock %}</h1>
{% endblock %}
<!-- /.content-wrapper-->
