{% extends 'KudelaCorp/AppBase.html' %}

{% block title %}Options Home{% endblock %}

{% block style %}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  background: #7a7b7f!important;
}

.bg-dark {
  background-color: #041ec1!important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: black!important;
}
{% endblock %}


<!-- Navigation-->
{% block navbar-brand-link %}{% url 'Options_Home' %}{% endblock %}
{% block navbar-brand-title %}Options{% endblock %}

<!-- Side Menu -->
{% block navbar-link-one %}{% url 'Options_Home' %}{% endblock %}
{% block navbar-link-one-icon %}fa fa-fw fa-dashboard{% endblock %}
{% block navbar-link-one-label %}Dashboard{% endblock %}

{% block navbar-link-two %}{% url 'Options_Manage' %}{% endblock %}
{% block navbar-link-two-icon %}fa fa-fw fa-edit{% endblock %}
{% block navbar-link-two-label %}Manage{% endblock %}

{% block navbar-link-three %}{% url 'Options_OptionsOpen' %}{% endblock %}
{% block navbar-link-three-icon %}fa fa-fw fa-plus-circle{% endblock %}
{% block navbar-link-three-label %}Open Options Positions{% endblock %}

{% block navbar-link-four %}{% url 'Options_OptionsClosed' %}{% endblock %}
{% block navbar-link-four-icon %}fa fa-fw fa-minus-circle{% endblock %}
{% block navbar-link-four-label %}Closed Positions{% endblock %}

{% block navbar-link-five %}{% endblock %}
{% block navbar-link-five-icon %}{% endblock %}
{% block navbar-link-five-label %}{% endblock %}

{% block navbar-link-six %}{% url 'KudelaCorpHome' %}{% endblock %}
{% block navbar-link-six-icon %}fa fa-fw fa-home{% endblock %}
{% block navbar-link-six-label %}Home{% endblock %}

{% block navbar-link-seven %}{% endblock %}
{% block navbar-link-seven-icon %}{% endblock %}
{% block navbar-link-seven-label %}{% endblock %}

{% block navbar-link-eight %}{% endblock %}
{% block navbar-link-eight-icon %}{% endblock %}
{% block navbar-link-eight-label %}{% endblock %}

{% block navbar-link-nine %}{% endblock %}
{% block navbar-link-nine-icon %}{% endblock %}
{% block navbar-link-nine-label %}{% endblock %}

{% block navbar-link-ten %}{% endblock %}
{% block navbar-link-ten-icon %}{% endblock %}
{% block navbar-link-ten-label %}{% endblock %}


<!-- /.container-fluid-->
{% block content %}
<h1>{% block pagecontent %}Finance Base{% endblock %}</h1>
{% endblock %}
<!-- /.content-wrapper-->
