{% extends 'Finance/FinanceBase.html' %}

{% load humanize %}

{% block content %}
<head>
<style>

table {
    border: 2px black solid;
    width: 100%;
}

td, th {
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
}

.heading {
    text-align: left;
    width: auto;
}
s
.toprow, .bottomrow {
    border: 1px solid black;
}

#sigblock {
    line-height: 14px;
}

@media(min-width:768px) {
#reportsheet {
    width: 700px;
}
}
</style>


</head>

<body>
<h1>Metrics</h1>
<div id="searchform">
<form action="{% url 'Finance_Metrics' %}" method="POST">{% csrf_token %}
<select name="ratio">
    <option value=''>--Select Metric--</option>
    <option value='CUR'>Current Ratio</option>
    <option value='LIQ'>Liquidity Ratio</option>
    <option value='LEV'>Leverage Ratio</option>
    <option value='DTI'>Debt-to-Income Ratio</option>
    <option value='STI'>Savings-to-Income Ratio</option>
</select>
<br>
<input type="submit">
</form>
</div>

</body>
{% endblock %}
