{% extends 'Finance/FinanceBase.html' %}

{% load humanize %}

{% block content %}
<head>
<style>

table {
    border: 2px black solid;
    width: 100%;
}

th {
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}

td {
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
}

.heading {
    text-align: center;
    width: auto;
}
s
.toprow, .bottomrow {
    border: 1px solid black;
}

.blank_row {
    height: 10px;
}

#sigblock {
    line-height: 14px;
}

#accountnames {
  float: left;
  width: 225px;
  background-color: #fff;
}

#content {
  float: left;
  width: 100px;
  background-color: #fff;
  text-align: right;
  margin-right: 15px;
}

@media(min-width:768px) {
#reportsheet {
    width: 700px;
}
}
</style>


</head>

<body>
<h1>Metrics</h1>
<div id="searchform">
<form action="{% url 'Finance_Metrics' %}" method="POST">{% csrf_token %}
<select name="ratio">
    <option value=''>--Select Metric--</option>
    <option value='CUR'>Current Ratio</option>
    <option value='LIQ'>Liquidity Ratio</option>
    <option value='LEV'>Leverage Ratio</option>
    <option value='DTI'>Debt-to-Income Ratio</option>
    <option value='STI'>Savings-to-Income Ratio</option>
</select>
<br><br>
<input type="submit">
<br><br>
</form>
</div>


    <div id="accountnames">
        <table width="100%" style="border: 2px solid black;">
            <tr style="border: 2px solid black;"><th>Date</th></tr>
            {% if ratio == "CUR" or ratio == "LIQ" %}
            <tr><th>Huntington Checking</th></tr>
            <tr><th>Fifth Third Checking</th></tr>
            <tr><th>Huntington Savings</th></tr>
            <tr><th>Fifth Third Savings</th></tr>
            <tr><th>Ally Bank Savings</th></tr>
            <tr><th>American Express Savings</th></tr>
            <tr><th><b>Total Cash<b></th></tr>
            <tr class="blank_row"><td></td></tr>
            {% endif %}
            {% if ratio == "CUR" %}
            <tr><th>Options Accounts</th></tr>
            <tr><th>Dividend (Deacon) Schwab</th></tr>
            <tr><th>Broad (Buckeye) Schwab</th></tr>
            <tr><th><b>Total Marketable Securities<b></th></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><th><b>Total Current Assets<b></th></tr>
            <tr><th><b>Total Credit Card Balances</b></th></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><th><b>Total 12-Month Loans Due<b></th></tr>
            {% elif ratio == "LIQ" %}
            <tr><th>Mortgage</th></tr>
            <tr><th>HOA Fees</th></tr>
            <tr><th><b>Home Costs<b></th></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><th>Auto Insurance</th></tr>
            <tr><th>Electric</th></tr>
            <tr><th>Trash</th></tr>
            <tr><th>Sewer</th></tr>
            <tr><th>Water</th></tr>
            <tr><th>Gas</th></tr>
            <tr><th>Kat Phone</th></tr>
            <tr><th>Justin Phone</th></tr>
            <tr><th>Television</th></tr>
            <tr><th>Internet</th></tr>
            <tr><th>Daycare</th></tr>
            <tr><th><b>Average Monthly Bills<b></th></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><th>Other Ratio</th></tr>
            {% endif %}
        </table>
    </div>

    <div id="content">
        <table width="100%" style="border: 2px solid black;">
          {% for field in month_balance %}
            <tr style="border: 2px solid black;"><td class="heading"><b>{{ field.date | date:"M Y" }}</b></td></tr>
            {% if ratio == "CUR" or ratio == "LIQ" %}
              <tr class="detail"><td>{{ field.huntington_check | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.fifththird_check | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.huntington_save | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.fifththird_check | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.capone_save | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.amex_save | intcomma }}</td></tr>
              <tr class="detail"><td><b>{{ field.current_cash | intcomma }}<b></td></tr>
              <tr class="blank_row"><td></td></tr>
              {% endif %}
              {% if ratio == "CUR" %}
              <tr class="detail"><td>{{ field.robinhood_invest | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.deacon_invest | intcomma }}</td></tr>
              <tr class="detail"><td>{{ field.buckeye_invest | intcomma }}</td></tr>
              <tr class="detail"><td><b>{{ field.total_invest | intcomma }}<b></td></tr>
              <tr class="blank_row"><td></td></tr>
              <tr><td><b>{{ field.total_current_assets | intcomma }}<b></td></tr>
              <tr class="detail"><td><b>{{ field.total_credit | intcomma }}<b></td></tr>
              <tr class="blank_row"><td></td></tr>
              <tr><td><b>{{ field.total_current_assets | intcomma }}<b></td></tr>
            {% else %}
              <tr class="detail"><td>{{ field.amex_save | intcomma }}</td></tr>
            {% endif %}
          {% endfor %}
        </table>
    </div>

</body>
{% endblock %}
